.button {
  background-color: #000000;
  color: #ffffff;

  padding: var(--space-2) var(--space-6);

  border-radius: var(--border-radius-xs);
  border: 1px solid #ffffff;

  transition: all 200ms;

  min-height: 50px;

  &:hover {
    background-color: #ffffff;
    color: #000000;

    border: 1px solid #000000;
  }
}
