/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}
