:root {
  /* Background Colors */
  --primary-bg-color: #dadada;

  /* Font colors */
  --primary-font-color: #050505;

  /* Spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;

  /* Border radius */
  --border-radius-xs: 4px;
}
